[Desktop Entry]
Name=F4
Comment=Simple text editor with Vim motions
Exec=f4 %F
Icon=f4
Terminal=false
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-python;text/x-sh;application/json;application/xml;
